<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1003},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1018},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1003},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,950},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,935},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,998},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,982},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,950},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,935},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,941},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,941},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,883},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,873},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,882},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>0/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,873},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,914},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,882},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,867},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,867},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,814},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,799},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,799},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,849},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,815},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,805},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,746},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,846},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,778},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,710},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,642},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>4s.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,446},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,373}}</string>
                <key>sourceSize</key>
                <string>{360,373}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,509},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>bomb/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,802},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>bomb/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,758},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>bomb/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,724},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>bomb/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,711},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>bomb/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,611},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>bomb/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,520},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>bomb/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,554},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,469},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>color_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,188},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>color_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1050},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>guide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,344},{239,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,208}}</string>
                <key>sourceSize</key>
                <string>{239,208}</string>
            </dict>
            <key>guide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,134},{239,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,208}}</string>
                <key>sourceSize</key>
                <string>{239,208}</string>
            </dict>
            <key>guide_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{280,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,130}}</string>
                <key>sourceSize</key>
                <string>{280,130}</string>
            </dict>
            <key>haha.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,349},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,295},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,417},{359,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,94}}</string>
                <key>sourceSize</key>
                <string>{359,94}</string>
            </dict>
            <key>notips.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,513},{336,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,83}}</string>
                <key>sourceSize</key>
                <string>{336,83}</string>
            </dict>
            <key>readygo_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,290},{360,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,94}}</string>
                <key>sourceSize</key>
                <string>{360,94}</string>
            </dict>
            <key>readygo_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{353,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,47}}</string>
                <key>sourceSize</key>
                <string>{353,47}</string>
            </dict>
            <key>readygo_txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,579},{143,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,29}}</string>
                <key>sourceSize</key>
                <string>{143,29}</string>
            </dict>
            <key>selectone.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,554},{167,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,23}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>touch/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,951},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>touch/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,917},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>touch/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,893},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>touch/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>touch/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1066},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>touch/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,644},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>touch/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,577},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>ui/bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,711},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui/bomb_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui/bomb_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>ui/bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{360,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,92}}</string>
                <key>sourceSize</key>
                <string>{360,92}</string>
            </dict>
            <key>ui/crose.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,910},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui/crose_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,794},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui/crose_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,702},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>ui/home.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,701},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>ui/home_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,610},{115,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,112}}</string>
                <key>sourceSize</key>
                <string>{115,112}</string>
            </dict>
            <key>ui/level.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,711},{79,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,33}}</string>
                <key>sourceSize</key>
                <string>{79,33}</string>
            </dict>
            <key>ui/pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,244},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>ui/pause_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,134},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>ui/restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,598},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>ui/restart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,610},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>ui/restart2_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,547},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>ui/restart_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,598},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>ui/resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,711},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui/resume_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui/resume_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,642},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>ui/setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,645},{115,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,111}}</string>
                <key>sourceSize</key>
                <string>{115,111}</string>
            </dict>
            <key>ui/setting_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,520},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>ui/start.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,598},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>ui/start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{125,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,120}}</string>
                <key>sourceSize</key>
                <string>{125,120}</string>
            </dict>
            <key>ui/text.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,386},{360,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,29}}</string>
                <key>sourceSize</key>
                <string>{360,29}</string>
            </dict>
            <key>ui/time.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,805},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>ui/tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,822},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui/tips_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,734},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui/tips_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>ui/top0.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,194},{360,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,94}}</string>
                <key>sourceSize</key>
                <string>{360,94}</string>
            </dict>
            <key>ui/top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,98},{360,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,94}}</string>
                <key>sourceSize</key>
                <string>{360,94}</string>
            </dict>
            <key>ui/top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,94}}</string>
                <key>sourceSize</key>
                <string>{360,94}</string>
            </dict>
            <key>win_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,399},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamelayer.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:262397840522ce3ad52ab7c08b2548a5:1/1$</string>
            <key>textureFileName</key>
            <string>gamelayer.png</string>
        </dict>
    </dict>
</plist>
